class HelloComponent extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      name: 'chris'
    };
    this.handleClick = this.handleClick.bind(this);
  }
  handleClick() {
    this.setState({
      name: 'bob'
    });
  }
  render() {
    return <div onClick={this.handleClick}>
      hello {this.state.name}
    </div>;
  }
}

React.renderComponent(
  <HelloComponent />,
  document.body
);